.footer {
  background-color: #288930; /* Zöld háttérszín */
  color: #ffffff; /* Fehér szöveg */
  padding: 80px; /* Kényelmes tér */
  text-align:center;
  width: 100%; /* Teljes szélesség */
  display: flex; /* Flexbox használat a középre igazításhoz */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Kitölti a maradék helyet */
}

.container {
  max-width: 1200px;
  margin: auto;
}

.text {
  margin: 0;
  font-size: 14px;
}

.links {
  margin-top: 10px;
}

.link {
  color: #ffffff;
  margin: 0 10px;
  text-decoration: none;
}

.link:hover {
  color: #e2e2e2;
}
