.agent-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 14rem;
  padding: 40px;
  background-color: white;
}

.agent-card {
  width: 280px;
  padding: 50px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  border: 2px solid #228B22;
  background-color: #f9f9f9;
}

.agent-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.agent-name {
  font-size: 18px;
  font-weight: bold;
  color: #228B22;
}

.agent-title {
  color: gray;
  margin-top: 5px;
}

.agent-experience {
  color: black;
  margin-top: 5px;
}

.agent-agency {
  color: green;
  margin-top: 5px;
  font-weight: bold;
}

.agent-location {
  color: black;
  margin-top: 5px;
}

.agent-contact {
  margin-top: 10px;
}

.agent-contact a {
  display: block;
  color: green;
  text-decoration: none;
  margin-bottom: 5px;
}

.agent-contact a:hover {
  text-decoration: underline;
  box-shadow: 0 16px 32px rgba(0, 0, 0, 0.15);
}

